<% include partials/header %>

<div class='ui text container segment'>
    <div class='ui huge header'><span class='post_header'><%= CBShow.title %></span></div>
    <div class='ui top attached'>
        <div class='item item_font_post'>
            <img class='ui centered rounded image' src='<%=  %>'>
            <div class='content'>
                <span class='post_date'><%= CBShow.create.toDateString() %></span>
            </div>
            <div class='description'>
                <p><%= CBShow.body %></p>
                <p><em>Submited By <%= CBShow.author.username %></em></p>
            </div>
            <% if(currentUserCodes && CBShow.author.id.equals(currentUserCodes._id)) { %>
            <a class='ui orange basic tiny button' href='/index/<%= CBShow._id %>/edit'>Edit</a>
            <form id='delete' class='' action='/index/<%= CBShow._id %>?_method=DELETE' method='POST'>
                <button class='ui red basic tiny button'>DELETE</button>
            </form>
            <% } else { } %>
        </div>
    </div>
</div>

<!-- *********************************** COMMENTS ************************** -->

<div class='ui text container'>
    <div class='comment_link'>
        <form class='col-md-12 ui input input_comment'>
            <% if(!currentUserCodes) { %>
                <a href='/index/<%= CBShow._id %>/comments/new' class=''><input type='text' placeholder='Add a new comment' class=''></a>
            <% } else { %>
                <a href='/index/<%= CBShow._id %>/comments/new' class=''><input type='text' placeholder='<%= currentUserCodes.username %> add a new comment' class=''></a>
            <% } %>
        </form>
        <span class=''>
            <a class='btn btn-success' href='/index/<%= CBShow._id %>/comments/new'>Add New Comment <i class="fa fa-comment" aria-hidden="true"></i></a>
        </span>
    </div>
    
    <% CBShow.comments.forEach(function(comment) { %>
    
        <div class='col-md-12'>
            <hr>
            <strong><%= comment.author.username %></strong>
            <span class='pull-right post_date'><%= CBShow.create.toDateString() %></span>
            <p>
                <%= comment.text %>
            </p>
            <% if(currentUserCodes && comment.author.id.equals(currentUserCodes._id)) { %>
            <a class='ui orange basic mini button' href='/index/<%= CBShow._id %>/comments/<%= comment._id %>/edit'>Edit</a>
            <form  id='delete' class='' action='/index/<%= CBShow._id %>/comments/<%= comment._id %>?_method=DELETE' method='POST'>
                <button class='ui red basic button mini'>DELETE</button>
            </form>
            <% } else { } %>
            <%  %>
        </div>
    <% }); %>
    <div class='container well'><a href='/index' class=''><button class='btn btn-primary pull-right'><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</button></a></div>
</div>





<% include partials/footer %>